
/Squiggle.UI/obj
/Squiggle.UI/bin
/Squiggle.Bridge/bin
/Squiggle.Bridge/obj
/Squiggle.Chat/bin
/Squiggle.Chat/obj
/Squiggle.Core/obj
/Squiggle.Core/bin
/Squiggle.Utilities/bin
/Squiggle.Utilities/obj
/Squiggle.Translate/obj
/Squiggle.Translate/bin
/Squiggle.Test/bin
/Squiggle.Test/obj
/Squiggle.Multicast/bin
/Squiggle.Multicast/obj
/Squiggle.History/bin
/Squiggle.History/obj
/Squiggle.suo
/Squiggle.sln.docstates.suo
/Libraries/Plugins/NAudio.dll
/Libraries/Plugins/Squiggle.Activities.FileTransfer.dll
/Libraries/Plugins/Squiggle.Activities.VoiceChat.dll
/Libraries/Plugins/libspeex-license.txt
/Libraries/Plugins/libspeexdsp.dll
/Squiggle.Activities/bin
/Squiggle.Activities/obj
/Squiggle.Activities.VoiceChat/bin
/Squiggle.Activities.VoiceChat/obj
/Squiggle.Activities.FileTransfer/bin
/Squiggle.Activities.FileTransfer/obj
/Squiggle.UI.Plugins/bin
/Squiggle.UI.Plugins/obj