
/Squiggle.UI/obj
/Squiggle.UI/bin
/Squiggle.Bridge/bin
/Squiggle.Bridge/obj
/Squiggle.Client/bin
/Squiggle.Client/obj
/Squiggle.Core/obj
/Squiggle.Core/bin
/Squiggle.Utilities/bin
/Squiggle.Utilities/obj
/Squiggle.Translate/obj
/Squiggle.Translate/bin
/Squiggle.Multicast/bin
/Squiggle.Multicast/obj
/Squiggle.History/bin
/Squiggle.History/obj
/Squiggle.VoiceChat/bin
/Squiggle.VoiceChat/obj
/Squiggle.FileTransfer/bin
/Squiggle.FileTransfer/obj
/Squiggle.Plugins/bin
/Squiggle.Plugins/obj
/Squiggle.Infrastructure/bin
/Squiggle.Infrastructure/obj
/Libraries/Plugins/NAudio.dll
/Libraries/Plugins/Squiggle.FileTransfer.dll
/Libraries/Plugins/Squiggle.VoiceChat.dll
/Libraries/Plugins/libspeex-license.txt
/Libraries/Plugins/libspeexdsp.dll
/Squiggle.FileTransfer/*.user
/Squiggle.Bridge/*.user
/Squiggle.UI/*.user
/*.suo
