
/Squiggle.UI/obj
/Squiggle.UI/bin
/Squiggle.Bridge/bin
/Squiggle.Bridge/obj
/Squiggle.Chat/bin
/Squiggle.Chat/obj
/Squiggle.Core/obj
/Squiggle.Core/bin
/Squiggle.Utilities/bin
/Squiggle.Utilities/obj
/Squiggle.Translate/obj
/Squiggle.Translate/bin
/Squiggle.Test/bin
/Squiggle.Test/obj
/Squiggle.Multicast/bin
/Squiggle.Multicast/obj
/Squiggle.History/bin
/Squiggle.History/obj
/Squiggle.suo
/Squiggle.sln.docstates.suo
/Libraries/Plugins/NAudio.dll
/Libraries/Plugins/Squiggle.Apps.FileTransfer.dll
/Libraries/Plugins/Squiggle.Apps.VoiceChat.dll
/Libraries/Plugins/libspeex-license.txt
/Libraries/Plugins/libspeexdsp.dll
/Squiggle.Apps/bin
/Squiggle.Apps/obj
/Squiggle.Apps.VoiceChat/bin
/Squiggle.Apps.VoiceChat/obj
/Squiggle.Apps.FileTransfer/bin
/Squiggle.Apps.FileTransfer/obj