<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Squiggle.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Squiggle.UI.Properties.Settings>
            <setting name="DisplayName" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="PresencePort" serializeAs="String">
                <value>9998</value>
            </setting>
            <setting name="ChatPort" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="BindToIP" serializeAs="String">
                <value />
            </setting>
            <setting name="HideToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPopups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IdleTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="KeepAliveTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PresenceAddress" serializeAs="String">
                <value>224.10.11.12</value>
            </setting>
        </Squiggle.UI.Properties.Settings>
    </userSettings>
</configuration>