<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Squiggle.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <userSettings>
    <Squiggle.UI.Properties.Settings>
      <setting name="DisplayName" serializeAs="String">
        <value />
      </setting>
      <setting name="DisplayMessage" serializeAs="String">
        <value />
      </setting>
      <setting name="BindToIP" serializeAs="String">
        <value />
      </setting>
      <setting name="HideToTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPopups" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="ChatWindowHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="ChatWindowWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="SpellCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DownloadsFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="FontName" serializeAs="String">
        <value>Georgia</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="FontColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="FontStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="ShowEmoticons" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainWindowTop" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="GroupName" serializeAs="String">
        <value />
      </setting>
      <setting name="GroupContacts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AudioAlerts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowOfflineContacts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmailAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="StealFocusOnNewMessage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MessagePanelHeight" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="ChatWindowShowDisplayPictures" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClearChatOnWindowClose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Domain" serializeAs="String">
        <value />
      </setting>
    </Squiggle.UI.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <!--<trace autoflush="false" indentsize="4">
        <listeners>
          <add name="myListener" 
               type="System.Diagnostics.TextWriterTraceListener" 
               initializeData="Squiggle.log" />
          <remove name="Default" />
        </listeners>
      </trace>-->
  </system.diagnostics>
  <appSettings>
    <add key="DbProvider" value="System.Data.SQLite.EF6" />
    <add key="PresencePort" value="9998" />
    <add key="PresenceCallbackPort" value="9997" />
    <add key="ChatPort" value="9999" />
    <add key="IdleTimeout" value="5" />
    <add key="KeepAliveTime" value="60" />
    <add key="PresenceAddress" value="224.10.11.12" />
    <add key="AutoSignIn" value="False" />
    <add key="EnableChatLogging" value="False" />
    <add key="EnableStatusLogging" value="False" />
    <add key="MaxMessagesToPreserve" value="100" />
    <add key="CheckForUpdates" value="True" />
    <add key="ReadOnly" value="False" />
    <add key="GitHash" value="" />
  </appSettings>
  <connectionStrings>
    <add name="HistoryContext" connectionString="Data Source=|DataDirectory|\History.db" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>