<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BridgeConfiguration" type="Squiggle.Bridge.Configuration.BridgeConfiguration, Squiggle.Bridge, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <BridgeConfiguration>
    <InternalServiceBinding IP="" Port=""/>
    <ExternalServiceBinding IP="" Port=""/>
    <PresenceBinding MulticastIP="224.10.11.12" MulticastPort="9998" ServicePort="9997" CallbackPort="9996"/>
    <Targets>
      <add IP="" Port=""/>
    </Targets>
  </BridgeConfiguration>
  <system.diagnostics>
    <!--
    <trace autoflush="true" >
      <listeners>
        <add name="FileListener"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="Squiggle.Bridge.log" />
      </listeners>
    </trace>
    -->
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
