<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BridgeConfiguration" type="Squiggle.Bridge.Configuration.BridgeConfiguration, Squiggle.Bridge, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <BridgeConfiguration>
    <localservicebinding ip="127.0.0.1" port="1234" />
    <remoteservicebinding ip="127.0.0.1" port="1235" />
    <channelbinding ip="224.10.11.12" port="9998" />
    <targets>
      <add ip="127.0.0.1" port="1234" />
    </targets>
  </BridgeConfiguration>
  <system.diagnostics>
    <trace autoflush="true" >
      <listeners>
        <add name="FileListener"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="Squiggle.Bridge.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
