<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BridgeConfiguration" type="Squiggle.Bridge.Configuration.BridgeConfiguration, Squiggle.Bridge, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <BridgeConfiguration>
    <localservicebinding ip="127.0.0.1" port="1235" />
    <remoteservicebinding ip="127.0.0.1" port="1236" />
    <channelbinding ip="224.10.11.12" mport="9998" sport="9997" />
    <targets>
      <add ip="127.0.0.1" port="1234" />
    </targets>
  </BridgeConfiguration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" >
      <listeners>
        <add name="FileListener"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="Squiggle.Bridge.log" />
      </listeners>
    </trace>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="TraceLog.svclog" />
    </sharedListeners>
  </system.diagnostics>
</configuration>
