<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="Squiggle">
          <Component Id="CoreFiles" DiskId="1" Guid="91906336-C57B-46C3-816B-A9FA02AE53F3">
            <File Id="CLRZMQ.DLL" Name="clrzmq.dll" Source="..\Squiggle.UI\bin\x86\Release\clrzmq.dll" />
            <File Id="FLUIDKIT.DLL" Name="FluidKit.dll" Source="..\Squiggle.UI\bin\x86\Release\FluidKit.dll" />
            <File Id="LIBSPEEX_LICENSE.TXT" Name="libspeex-license.txt" Source="..\Squiggle.UI\bin\x86\Release\libspeex-license.txt" />
            <File Id="LIBSPEEXDSP.DLL" Name="libspeexdsp.dll" Source="..\Squiggle.UI\bin\x86\Release\libspeexdsp.dll" />
            <File Id="LIBZMQ.DLL" Name="libzmq.dll" Source="..\Squiggle.UI\bin\x86\Release\libzmq.dll" />
            <File Id="NAUDIO_LICENSE.TXT" Name="NAudio-license.txt" Source="..\Squiggle.UI\bin\x86\Release\NAudio-license.txt" />
            <File Id="PROTOBUF_NET.DLL" Name="protobuf-net.dll" Source="..\Squiggle.UI\bin\x86\Release\protobuf-net.dll" />
            <File Id="SQLCECA40.DLL" Name="sqlceca40.dll" Source="..\Squiggle.UI\bin\x86\Release\sqlceca40.dll" />
            <File Id="SQLCECOMPACT40.DLL" Name="sqlcecompact40.dll" Source="..\Squiggle.UI\bin\x86\Release\sqlcecompact40.dll" />
            <File Id="SQLCEER40EN.DLL" Name="sqlceer40EN.dll" Source="..\Squiggle.UI\bin\x86\Release\sqlceer40EN.dll" />
            <File Id="SQLCEME40.DLL" Name="sqlceme40.dll" Source="..\Squiggle.UI\bin\x86\Release\sqlceme40.dll" />
            <File Id="SQLCEQP40.DLL" Name="sqlceqp40.dll" Source="..\Squiggle.UI\bin\x86\Release\sqlceqp40.dll" />
            <File Id="SQLCESE40.DLL" Name="sqlcese40.dll" Source="..\Squiggle.UI\bin\x86\Release\sqlcese40.dll" />
            <File Id="SQUIGGLE.CLIENT.DLL" Name="Squiggle.Client.dll" Source="..\Squiggle.UI\bin\x86\Release\Squiggle.Client.dll" />
            <File Id="SQUIGGLE.CORE.DLL" Name="Squiggle.Core.dll" Source="..\Squiggle.UI\bin\x86\Release\Squiggle.Core.dll" />
            <File Id="SQUIGGLE.EXE" Name="Squiggle.exe" Source="..\Squiggle.UI\bin\x86\Release\Squiggle.exe" />
            <File Id="SQUIGGLE.EXE.CONFIG" Name="Squiggle.exe.config" Source="..\Squiggle.UI\bin\x86\Release\Squiggle.exe.config" />
            <File Id="SQUIGGLE.HISTORY.DLL" Name="Squiggle.History.dll" Source="..\Squiggle.UI\bin\x86\Release\Squiggle.History.dll" />
            <File Id="SQUIGGLE.INFRASTRUCTURE.DLL" Name="Squiggle.Infrastructure.dll" Source="..\Squiggle.UI\bin\x86\Release\Squiggle.Infrastructure.dll" />
            <File Id="SQUIGGLE.PLUGINS.DLL" Name="Squiggle.Plugins.dll" Source="..\Squiggle.UI\bin\x86\Release\Squiggle.Plugins.dll" />
            <File Id="SQUIGGLE.UTILITIES.DLL" Name="Squiggle.Utilities.dll" Source="..\Squiggle.UI\bin\x86\Release\Squiggle.Utilities.dll" />
            <File Id="SYSTEM.DATA.SQLSERVERCE.DLL" Name="System.Data.SqlServerCe.dll" Source="..\Squiggle.UI\bin\x86\Release\System.Data.SqlServerCe.dll" />
            <File Id="SYSTEM.DATA.SQLSERVERCE.ENTITY.DLL" Name="System.Data.SqlServerCe.Entity.dll" Source="..\Squiggle.UI\bin\x86\Release\System.Data.SqlServerCe.Entity.dll" />
          </Component>
          <Directory Id="IMAGES" Name="Images">
            <Directory Id="EMOTICONS" Name="Emoticons">
              <Component Id="EmoticonsFiles" DiskId="1" Guid="E7093D27-A27A-42D9-A585-E7A0533FFE7C">
                <File Id="ANGRY.PNG" Name="angry.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Emoticons\angry.png" />
                <File Id="BLUSHING.PNG" Name="blushing.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Emoticons\blushing.png" />
                <File Id="BURN.PNG" Name="burn.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Emoticons\burn.png" />
                <File Id="CRYING.PNG" Name="crying.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Emoticons\crying.png" />
                <File Id="HOT.PNG" Name="hot.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Emoticons\hot.png" />
                <File Id="ICONS_AUTHOR.TXT" Name="Icons-Author.txt" Source="..\Squiggle.UI\bin\x86\Release\Images\Emoticons\Icons-Author.txt" />
                <File Id="LAUGHING.PNG" Name="laughing.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Emoticons\laughing.png" />
                <File Id="LOVE.PNG" Name="love.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Emoticons\love.png" />
                <File Id="QUESTION.PNG" Name="question.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Emoticons\question.png" />
                <File Id="SAD.PNG" Name="sad.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Emoticons\sad.png" />
                <File Id="SHOUT.PNG" Name="shout.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Emoticons\shout.png" />
                <File Id="SLOBBER.PNG" Name="slobber.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Emoticons\slobber.png" />
                <File Id="SMILE.PNG" Name="smile.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Emoticons\smile.png" />
                <File Id="SURPRISED.PNG" Name="surprised.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Emoticons\surprised.png" />
                <File Id="TONGUE.PNG" Name="tongue.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Emoticons\tongue.png" />
                <File Id="WINKING.PNG" Name="winking.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Emoticons\winking.png" />
              </Component>
            </Directory>
            <Directory Id="STATUS" Name="Status">
              <Component Id="StatusFiles" DiskId="1" Guid="2D2A759C-A69C-4F88-8B76-21AE1BA79A6F">
                <File Id="AWAY.PNG" Name="away.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Status\away.png" />
                <File Id="BUSY.PNG" Name="busy.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Status\busy.png" />
                <File Id="OFFLINE.PNG" Name="offline.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Status\offline.png" />
                <File Id="ONLINE.PNG" Name="online.png" Source="..\Squiggle.UI\bin\x86\Release\Images\Status\online.png" />
              </Component>
            </Directory>
          </Directory>
          <Directory Id="PLUGINS" Name="Plugins">
            <Component Id="PluginFiles" DiskId="1" Guid="31AAB119-BDB8-4E84-A8A5-2AAFD8FA8B09">
              <File Id="LIBSPEEX_LICENSE.TXT_1" Name="libspeex-license.txt" Source="..\Squiggle.UI\bin\x86\Release\Plugins\libspeex-license.txt" />
              <File Id="LIBSPEEXDSP.DLL_1" Name="libspeexdsp.dll" Source="..\Squiggle.UI\bin\x86\Release\Plugins\libspeexdsp.dll" />
              <File Id="NAUDIO.DLL" Name="NAudio.dll" Source="..\Squiggle.UI\bin\x86\Release\Plugins\NAudio.dll" />
              <File Id="README.TXT" Name="Readme.txt" Source="..\Squiggle.UI\bin\x86\Release\Plugins\Readme.txt" />
              <File Id="SQUIGGLE.FILETRANSFER.DLL" Name="Squiggle.FileTransfer.dll" Source="..\Squiggle.UI\bin\x86\Release\Plugins\Squiggle.FileTransfer.dll" />
              <File Id="SQUIGGLE.VOICECHAT.DLL" Name="Squiggle.VoiceChat.dll" Source="..\Squiggle.UI\bin\x86\Release\Plugins\Squiggle.VoiceChat.dll" />
            </Component>
          </Directory>
          <Directory Id="RESOURCES" Name="Resources">
            <Component Id="ResourceFiles" DiskId="1" Guid="FA330325-11A3-46D6-BC73-AAFE584745D0">
              <File Id="TRANSLATION.XAML" Name="Translation.xaml" Source="..\Squiggle.UI\bin\x86\Release\Resources\Translation.xaml" />
            </Component>
          </Directory>
          <Directory Id="SOUNDS" Name="Sounds">
            <Component Id="SoundFiles" DiskId="1" Guid="AF420500-1CBC-4005-A588-0EFA7975D351">
              <File Id="BUDDYONLINE.WAV" Name="BuddyOnline.wav" Source="..\Squiggle.UI\bin\x86\Release\Sounds\BuddyOnline.wav" />
              <File Id="BUZZ.WAV" Name="Buzz.wav" Source="..\Squiggle.UI\bin\x86\Release\Sounds\Buzz.wav" />
              <File Id="MESSAGERECEIVED.WAV" Name="MessageReceived.wav" Source="..\Squiggle.UI\bin\x86\Release\Sounds\MessageReceived.wav" />
              <File Id="VOICECHATDISCONNECTED.WAV" Name="VoiceChatDisconnected.wav" Source="..\Squiggle.UI\bin\x86\Release\Sounds\VoiceChatDisconnected.wav" />
              <File Id="VOICECHATRINGINGIN.WAV" Name="VoiceChatRingingIn.wav" Source="..\Squiggle.UI\bin\x86\Release\Sounds\VoiceChatRingingIn.wav" />
              <File Id="VOICECHATRINGINGOUT.WAV" Name="VoiceChatRingingOut.wav" Source="..\Squiggle.UI\bin\x86\Release\Sounds\VoiceChatRingingOut.wav" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder">
        <Component Id="DesktopShortcuts" Guid="2F8E3400-E48B-40DE-B5E5-CFA37FA2E3BA">
          <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
          <Shortcut Id="SquiggleDesktopShortcut" Name="Squiggle" Description="Squiggle" Target="[INSTALLDIR]Squiggle.exe" />
        </Component>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="Squiggle">
          <Component Id="ProgramMenuShortcuts" Guid="0D23F6E1-2FE7-4DB0-93DD-A2CCF2375A52">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
            <util:InternetShortcut Id="OverrootShortcut" Name="Overroot" Type="url" Target="http://www.overroot.com/"/>
            <Shortcut Id="SquiggleProgramMenuShortcut" Name="Squiggle" Description="Squiggle" Target="[INSTALLDIR]Squiggle.exe" />
            <Shortcut Id="UninstallProduct" Name="Uninstall Squiggle" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
