<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="Squiggle" Language="1033" Version="1.0.0.0" UpgradeCode="CFA30344-560E-4005-AC0F-4BE9E2D8A388" Manufacturer="Overroot">
    <Package Description="#Description" Comments="Comments" InstallerVersion="200" Compressed="yes" InstallScope="perUser" />
    <!--
			Source media for the installation. 
 			Specifies a single cab file to be embedded in the installer's .msi. 
		-->
    <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high" />

    <!-- Installation directory and files are defined in Files.wxs -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="AppDataFolder">
        <Directory Id="INSTALLDIR" Name="Squiggle">
          <Component Id="INSTALLDIR" Guid="2E03BD62-9DBF-4763-9D02-918DBA574980">
            <RemoveFolder Id='RemoveINSTALLDIR' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='integer' Value='1' KeyPath='yes' />
          </Component>
          <Directory Id="Images" Name="Images">
            <Component Id="Images" Guid="51E3097E-0E59-4214-8166-D54678A796CA">
              <RemoveFolder Id='RemoveImages' On='uninstall' />
              <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='integer' Value='1' KeyPath='yes' />
            </Component>
            <Directory Id="Status" Name="Status" >
              <Component Id="Status" Guid="B8DD121B-7C69-4B2D-B7CA-E66AA3BD2B0D">
                <RemoveFolder Id='RemoveStatus' On='uninstall' />
                <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='integer' Value='1' KeyPath='yes' />
              </Component>
            </Directory>
            <Directory Id="Emoticons" Name="Emoticons">
              <Component Id="Emoticons" Guid="1EF90571-9ADF-4B42-8973-19C0CE5995FA">
                <RemoveFolder Id='RemoveEmoticons' On='uninstall' />
                <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='integer' Value='1' KeyPath='yes' />
              </Component>
            </Directory>
          </Directory>
          <Directory Id="Plugins" Name="Plugins">
            <Component Id="Plugins" Guid="8E2D296B-0C05-4EE1-9CDC-2CCA9DAFF755">
              <RemoveFolder Id='RemovePlugins' On='uninstall' />
              <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='integer' Value='1' KeyPath='yes' />
            </Component>
          </Directory>
          <Directory Id="x86" Name="x86">
            <Component Id="x86" Guid="5E1B4663-78AF-462C-A331-EB72E985CDAA">
              <RemoveFolder Id='Removex86' On='uninstall' />
              <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='integer' Value='1' KeyPath='yes' />
            </Component>
          </Directory>
          <Directory Id="Resources" Name="Resources">
            <Component Id="Resources" Guid="59A810E6-B738-4212-A145-A939D662AC15">
              <RemoveFolder Id='RemoveResources' On='uninstall' />
              <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='integer' Value='1' KeyPath='yes' />
            </Component>
          </Directory>
          <Directory Id="Sounds" Name="Sounds">
            <Component Id="Sounds" Guid="EDE336C7-3102-4CA2-987F-68F3C55ABDCD">
              <RemoveFolder Id='RemoveSounds' On='uninstall' />
              <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='integer' Value='1' KeyPath='yes' />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" />
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="Squiggle" />
      </Directory>
    </Directory>

    <Feature Id="Complete" Title="Squiggle" Description="Squiggle - A free open source LAN Messenger" Level="1">     
      <ComponentRef Id="Resources" />
      <ComponentRef Id="Sounds" />
      <ComponentRef Id="Plugins" />
      <ComponentRef Id="Emoticons" />
      <ComponentRef Id="Status" />
      <ComponentRef Id="Images"/>
      <ComponentRef Id="x86"/>
      <ComponentRef Id="INSTALLDIR"/>
      <ComponentRef Id="NetMQ.dll" />
      <ComponentRef Id="EntityFramework.dll" />
      <ComponentRef Id="EntityFramework.SqlServer.dll" />
      <ComponentRef Id="FluidKit.dll" />
      <ComponentRef Id="protobuf_net.dll" />
      <ComponentRef Id="Squiggle.Client.dll" />
      <ComponentRef Id="Squiggle.Core.dll" />
      <ComponentRef Id="Squiggle.exe" />
      <ComponentRef Id="Squiggle.exe.config" />
      <ComponentRef Id="Squiggle.History.dll" />
      <ComponentRef Id="Squiggle.Infrastructure.dll" />
      <ComponentRef Id="Squiggle.Utilities.dll" />
      <ComponentRef Id="System.Data.SQLite.dll" />
      <ComponentRef Id="System.Data.SQLite.EF6.dll" />
      <ComponentRef Id="System.Data.SQLite.Linq.dll" />
      <ComponentRef Id="SQLite.Interop.dll" />
      <ComponentRef Id="away.png" />
      <ComponentRef Id="busy.png" />
      <ComponentRef Id="offline.png" />
      <ComponentRef Id="online.png" />
      <ComponentRef Id="angry.png" />
      <ComponentRef Id="blushing.png" />
      <ComponentRef Id="burn.png" />
      <ComponentRef Id="crying.png" />
      <ComponentRef Id="hot.png" />
      <ComponentRef Id="Icons_Author.txt" />
      <ComponentRef Id="laughing.png" />
      <ComponentRef Id="love.png" />
      <ComponentRef Id="question.png" />
      <ComponentRef Id="sad.png" />
      <ComponentRef Id="shout.png" />
      <ComponentRef Id="slobber.png" />
      <ComponentRef Id="smile.png" />
      <ComponentRef Id="surprised.png" />
      <ComponentRef Id="tongue.png" />
      <ComponentRef Id="winking.png" />
      <ComponentRef Id="libspeex_license.txt" />
      <ComponentRef Id="libspeexdsp.dll" />
      <ComponentRef Id="NAudio.dll" />
      <ComponentRef Id="NAudio_license.txt" />
      <ComponentRef Id="Readme.txt" />
      <ComponentRef Id="Squiggle.FileTransfer.dll" />
      <ComponentRef Id="Squiggle.VoiceChat.dll" />
      <ComponentRef Id="Squiggle.Screenshot.dll" />
      <ComponentRef Id="Translation.xaml" />
      <ComponentRef Id="BuddyOnline.wav" />
      <ComponentRef Id="Buzz.wav" />
      <ComponentRef Id="MessageReceived.wav" />
      <ComponentRef Id="VoiceChatDisconnected.wav" />
      <ComponentRef Id="VoiceChatRingingIn.wav" />
      <ComponentRef Id="VoiceChatRingingOut.wav" />
      <ComponentRef Id="DesktopShortcuts" />
      <ComponentRef Id="ProgramMenuShortcuts" />
    </Feature>

    <PropertyRef Id="NETFRAMEWORK45"/>

    <!-- 
			Using the Wix UI library
 
			WixUI_InstallDir does not allow the user to choose 
			features but adds a dialog to let the user choose a 
			directory where the product will be installed
		-->
    <Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <!-- skip licence dialog -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
    </UI>

    <Condition Message="This application requires .NET Framework 4.5.1. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>
    <Condition Message="This application is only supported on Windows 8 or higher.">
      <![CDATA[Installed OR (VersionNT >= 602)]]>
    </Condition>

  </Product>
</Wix>
