<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ip" value=""/>
    <add key="port" value=""/>
  </appSettings>
  <system.diagnostics>
    <!--
    <trace autoflush="true" >
      <listeners>
        <add name="FileListener"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="Squiggle.Multicast.log" />
      </listeners>
    </trace>
    -->
    <!--
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>    
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="Squiggle.Multicast.svclog" />
    </sharedListeners>
    -->
  </system.diagnostics>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Throttled">
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100" maxConcurrentInstances="1"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
