<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ip" value=""/>
    <add key="port" value=""/>
  </appSettings>
  <system.diagnostics>
    <!--
    <trace autoflush="true" >
      <listeners>
        <add name="FileListener"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="Squiggle.Multicast.log" />
      </listeners>
    </trace>
    -->
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
